<div class="row mt-2">
    <div class="col-md-4 mb-3" *ngFor="let category of specialCategory">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title text-capitalize" (click)="goToProduct()">{{category.categoryName}}</h5>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col ml-4">
        <button type="button" class="btn btn-success rounded-0" (click)="moveToRegistration()"> 
            <span class="text-bold"> Add Category </span> 
        </button>
    </div>
</div>
  