<div class="row">
    <div class="col-md-6 offset-md-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Product Id</th>
                    <th class="text-center">Product Name</th>
                    <th class="text-center">Category Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let product of specialProduct">
                    <td class="text-center">{{product.productId}}</td>
                    <td class="text-center">{{product.productName}}</td>
                    <td class="text-center">{{product.categoryId}}</td>
                    <td class="text-center">
                        <a class="btn btn-success rounded-0 mr-2" (click)="onEdit(product)">
                            <i class="material-icons">edit</i>
                        </a> 
                        <a class="btn btn-danger rounded-0" (click)="onDelete(product._id)">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-4">
        <button type="button" class="btn btn-success rounded-0">Previous</button>
        <button type="button" class="btn btn-success rounded-0">2</button>
        <button type="button" class="btn btn-success rounded-0">3</button>
        <button type="button" class="btn btn-success rounded-0">4</button>
        <button type="button" class="btn btn-success rounded-0">5</button>
        <button type="button" class="btn btn-success rounded-0">6</button>
        <button type="button" class="btn btn-success rounded-0">7</button>
        <button type="button" class="btn btn-success rounded-0">8</button>
        <button type="button" class="btn btn-success rounded-0">9</button>
        <button type="button" class="btn btn-success rounded-0">Next</button>
    </div>
</div>

<div class="row mt-2">
    <div class="col ml-4">
        <button type="button" class="btn btn-success rounded-0" (click)="moveToRegistration()"> 
            <span class="text-bold"> Add Product </span> 
        </button>
    </div>
</div>