<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3 border shadow">
            <form [formGroup]="registerForm"> 
                <div class="form-group">
                    <label for="categoryId">Category Id</label>
                    <input type="number"  formControlName="categoryId" class="form-control" id="categoryId" 
                    aria-describedby="categoryIdHelp" placeholder="categoryId"
                    [ngClass]="{'is-invalid': registerForm.get('categoryId').touched && registerForm.get('categoryId').invalid}">
                    
                    <span class="invalid-feedback">Id can't be blank.</span>
                    <small id="categoryIdHelp" class="form-text text-muted"></small>
                </div>
    
                <div class="form-group">
                    <label for="categoryName">Category Name</label>
                    <input type="text" formControlName="categoryName" class="form-control" id="categoryName" 
                    aria-describedby="categoryNameHelp" placeholder="categoryName"
                    [ngClass]="{'is-invalid': registerForm.get('categoryName').touched && registerForm.get('categoryName').invalid}">
                    
                    <span class="invalid-feedback">Name can't be blank.</span>
                    <small id="categoryNameHelp" class="form-text text-muted"></small>
                </div>
        
                <div class="form-group d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary mr-2 rounded-0" (click)="moveToCategory()">Back</button>
                    <button type="button" class="btn btn-success mr-2 rounded-0" [disabled]="registerForm.invalid" (click)="register()">Save</button>
                </div>
            </form>
        </div>    
    </div>
</div>

